<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div th:if="${message}">
    <p style="color: red" th:text="${message}"></p>
</div>
<form action="#" th:action="@{/dvd}" th:object="${dvd}" method="post">
    <p>Titlu: <input type="text" th:field="*{title}" required/></p>
    <p>Year: <input type="number" th:field="*{year}" required/></p>
    <p>Price: <input type="number" th:field="*{price}" required/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>